.dq-page {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
  gap: 16px;
  width: 2320px;
  min-height: 100%;
  padding: 16px;
  color: $color-signal-blue;
  background-color: $color-white;
}
.dq-page__status-bar {
  grid-column: 1 / 3;
}
.dq-page__content {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  border: 1px solid $color-grideperleft;
  border-radius: 16px;
}
.dq-page__left {
  flex-shrink: 0;
  height: 100%;
  border-right: 1px solid $color-grideperleft;
  .dq-info {
    height: 100%;
  }
}
.dq-page__right {
  flex-grow: 1;
  padding: 16px 16px 16px 32px;
}
.dq-page__title-wrp {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}
.dq-page__status {
  align-self: flex-start;
  margin-left: auto;
}
.dq-page__contact {
  margin-bottom: 16px;
}
.dq-page__grid {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 16px;
}
.dq-page__img {
  flex-shrink: 0;
  width: 525px;
  height: 700px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.dq-page__photos {
  grid-column: 1 / 3;
}
.dq-page__queue {
  grid-column: 2 / 3;
}

