.dq-info {
  display: grid;
  align-content: start;
  align-items: start;
  gap: 16px;
  width: 645px;
  padding: 16px;
  font-family: $font-default;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  color: $color-signal-blue;
  background-color: $color-phantom-white;
}
.dq-info__top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dq-info__param {
  @include transition(background-color);
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  padding: 5px 12px;
  font-size: 18px;
  line-height: 23px;
  color: $color-white;
  background-color: $color-cornflower-blue;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: color.adjust($color-cornflower-blue, $blackness: 10%);
  }
  svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    fill: currentcolor;
  }
}
.dq-info__field {
  padding: 16px;
  background-color: $color-white;
  border-radius: 12px;
}
.dq-info__drive {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.dq-info__person {
  position: relative;
  padding-bottom: 9px;
  img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid $color-international-blue-klein;
    border-radius: 50%;
  }
}
.dq-info__person-label {
  @include text-nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-lime-green;
  border-radius: 9px;
  transform: translateX(-50%);
  svg {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
  }
}
.dq-info__drive-data {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: transparentize($color-signal-blue, 0.6);
}
.dq-info__drive-count {
  margin-bottom: 12px;
}
.dq-info__label {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: left;
  color: transparentize($color-signal-blue, 0.6);
  text-transform: none;
}
.dq-info__drive-name {
  @include transition(color);
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: $color-cornflower-blue;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover {
    color: color.adjust($color-cornflower-blue, $blackness: 10%);
  }
  svg {
    fill: currentcolor;
  }
}
.dq-info__number {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: $color-signal-blue;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  &:hover svg {
    fill: color.adjust($color-cornflower-blue, $blackness: 10%);
  }
  svg {
    @include transition(fill);
    flex-shrink: 0;
    fill: $color-cornflower-blue;
  }
}
.dq-info__drive-contols {
  display: grid;
  gap: 10px;
  margin-left: auto;
  .dq-btn-icon {
    width: 100%;
  }
}
.dq-info__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: $color-signal-blue;
  text-transform: uppercase;
}
.dq-info__client-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px 14px;
  margin-top: 17px;
}
.dq-info__client-block {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: $color-signal-blue;
  .dq-info__label {
    margin-bottom: 4px;
    color: transparentize($color-signal-blue, 0.4);
  }
}
.dq-info__client-btn {
  @include transition(color);
  display: flex;
  align-items: flex-start;
  gap: 4px;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: $color-cornflower-blue;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  &.underline {
    text-decoration: underline;
  }
  &:hover,
  &:focus {
    color: color.adjust($color-cornflower-blue, $blackness: 10%);
  }
  svg {
    display: block;
    flex-shrink: 0;
    fill: currentcolor;
    &:first-child {
      margin-right: -3px;
    }
  }
}
.dq-info__client-warning {
  margin-bottom: 4px;
  font-weight: 700;
  color: $color-radical-red;
}
.dq-info__client-descr {
  margin-top: 16px;
  a {
    @include transition(color);
    color: $color-cornflower-blue;
    text-decoration: underline;
    &:hover,
    &:focus {
      color: color.adjust($color-cornflower-blue, $blackness: 10%);
    }
  }
}
.dq-info__bottom {
  display: flex;
  gap: 12px;
}
.dq-info__bottom-rows {
  display: grid;
  flex-shrink: 0;
  align-content: start;
  align-items: start;
  gap: 12px;
  width: 236px;
}
.dq-info__delivery {
  display: grid;
  grid-row: 4 / 6;
  gap: 12px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  .dq-info__label {
    margin-bottom: 3px;
  }
}
.dq-info__delivery-important {
  padding: 12px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  background-color: $color-phantom-white;
  border-radius: 12px;
}
.dq-info__delivery-warning {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $color-radical-red;
}
.dq-info__btn-time {
  @include transition(background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin: 0;
  padding: 9px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  text-align: center;
  color: $color-white;
  text-decoration: none;
  background-color: $color-lime-green;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: color.adjust($color-lime-green, $blackness: 10%);
  }
  svg {
    flex-shrink: 0;
    fill: currentcolor;
  }
}
.dq-info__delivery-cols {
  display: flex;
  gap: 12px;
  & > *:first-child {
    width: 145px;
  }
}
.dq-info__delivery-field {
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: $color-phantom-white;
  border-radius: 12px;
}
.dq-info__delivery-uppermaps {
  padding: 10px;
  text-transform: uppercase;
  background-color: $color-phantom-white;
  border-radius: 12px;
}
.dq-info__map {
  position: relative;
  height: 219px;
  overflow: hidden;
  background-color: $color-phantom-white;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.dq-info__map-legend {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.dq-info__contact {
  display: grid;
  gap: 12px;
  .dq-info__label {
    margin-bottom: 3px;
  }
}
.dq-info__contact-btn {
  @include transition(color);
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover svg {
    fill: color.adjust($color-cornflower-blue, $blackness: 10%);
  }
  svg {
    @include transition(fill);
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
    fill: $color-cornflower-blue;
  }
}
.dq-info__contact-list {
  display: grid;
  gap: 10px;
}
.dq-info__package-col {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin: 12px 0;
}
.dq-info__package-num {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: $color-signal-blue;
}
.dq-info__package-price {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: $color-lime-green;
}
.dq-info__package-list {
  display: grid;
  gap: 12px;
  margin-top: 6px;
}
.dq-info__package-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 19px;
  color: $color-signal-blue;
  svg {
    flex-shrink: 0;
    fill: $color-cornflower-blue;
  }
}
