.dq-modal {
  position: relative;
  width: 560px;
  padding: 20px;
  background-color: $color-white;
  border-radius: 16px;
}
.dq-modal-close {
  @include transition(background-color);
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  place-items: center;
  width: 33px;
  height: 33px;
  margin: 0;
  padding: 0;
  color: $color-cornflower-blue;
  background-color: transparentize($color-cornflower-blue, 0.9);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    background-color: transparentize($color-cornflower-blue, 0.8);
  }
  svg {
    fill: currentcolor;
  }
}
