extends /elements/layout-page
include /elements/images
include /components/dq-status-bar
include /components/dq-queue-section
include /components/dq-chat
include /components/dq-info
include /components/dq-status
include /components/dq-controls
include /components/dq-photos
include /components/label/dq-label
include /components/label/dq-label-contact
include /components/dq-view


block data
  - title = "Rx2Go: Dispathcer queue — Barcode rejected"

block content
  .dq-page__status-bar
    +dq-status-bar({})
  .dq-page__content
    .dq-page__left
      +dq-info({})
    .dq-page__right
      .dq-page__title-wrp
        .dq-title Barcode rejected
        +dq-label({ text: "2 ITEM", color: "darkblue" })
        .dq-page__status
          +dq-status({})
      .dq-page__contact
        +dq-label-contact({})
      .dq-page__grid
        +dq-view({})
        .dq-page__controls
          +dq-controls({ type: 4 })
        +dq-chat({})
        .dq-page__photos
          +dq-photos({})
  .dq-page__queue
    +dq-queue-section({})

